#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    min-width: 300px;
    border-radius: 2rem;
    -webkit-box-shadow: 14px 15px 26px 0px rgba(233, 238, 247, 1);
    -moz-box-shadow: 14px 15px 26px 0px rgba(233, 238, 247, 1);
    box-shadow: 14px 15px 26px 0px rgba(233, 238, 247, 1);
    @media screen and (max-width: 768px) {
        height: 100dvh;
        flex-grow: 1;
        flex-direction: column;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
}

#root > div {
    flex: 1 1 0;
    padding: 1rem 2rem;
    width: 360px;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

h1 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-block-start: 1rem;
    margin-block-end: 0.75rem;
}
