@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Hanken Grotesk", system-ui, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    -webkit-user-select: none;
    user-select: none;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100dvh;
}
